.nav {
    grid-area: navBar;
    background-color: #59b99a;
    text-align: left;
    padding: 10px;
}
.title a {
    color: white;
    text-decoration: none;
}

.title a.active {
    color: gold;
}
